img {
  height: auto;
}

.l-main {
  .main-h1 {
    margin: 0 0 $gutterSize;
  }

  .main-title-wrapper {
    margin: 0;
  }
}

.page-lc-check, {
  .upgrade-wrapper {
    p {
      width: 100% !important;
    }
  }
}