packages:
  yum:
    nfs-utils: []
    libnfsidmap: []
services:
  sysvinit:
    rpcbind:
      enabled: true
      ensureRunning: true
      files: [/etc/init.d/rpcbind]
container_commands:
  01_create_mnt:
    command: mkdir /mnt/shared
    ignoreErrors: true
  02_mnt_nfs:
    command: "mount nfs.blrdata.com:/mnt/var /mnt/shared"
    test: "! mountpoint -q /mnt/shared"




