packages:
  yum:    
    postgresql93: []

container_commands:
    01_mount_public:
        command: |
           rm -rf sites/acdis/files
           ln -s -T /mnt/shared/production/acdis.org/public sites/acdis/files
        test: test ! -L sites/acdis/files
    02_mount_private:
        command: |
           rm -rf sites/acdis/private
           ln -s -T /mnt/shared/production/acdis.org/private sites/acdis/private
        test: test ! -L sites/acdis/private
