.block-acdis-radio {
  .media-element-container {
    width: 44%;
    display: inline-block;
    vertical-align: middle;
  }

  .title {
    font-size: $FSdefault;
    font-weight: $primaryFontWeightMed;
    line-height: 1.2;
    width: 56%;
    display: inline-block;
    vertical-align: middle;
  }
}
