/* Required Imports */
/*** Colors ***/
/* Colors - Text */
/* Colors - Background */
/* Colors - Forms */
/* Colors - Buttons */
/* Typography */
/* Master Font sizes */
/* Element font sizes */
/* Grid Setup */
/* Layout */
/* Breakpoints */
/* Required Imports */
/*** Colors ***/
/* Colors - Text */
/* Colors - Background */
/* Colors - Forms */
/* Colors - Buttons */
/* Colors - Misc */
/* Typography */
/* Master Font sizes */
/* Element font sizes */
/* Grid Setup */
/* Layout */
/* Breakpoints */
/* line 4, ../base-sass/hcpro.layout.scss */
.max-width, .l-site-width, .l-masthead, .l-main {
  max-width: 1070px;
  margin: auto;
}

/* line 13, ../../../../../../../../../../../../../lib/gems/2.3.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
.l-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 16, ../base-sass/hcpro.layout.scss */
.l-header .l-branding {
  float: left;
}
/* line 20, ../base-sass/hcpro.layout.scss */
.l-header .l-region--header {
  float: right;
}

/* line 29, ../base-sass/hcpro.layout.scss */
.l-masthead {
  margin: 0 0 10px;
}
/* line 33, ../base-sass/hcpro.layout.scss */
.front .l-masthead {
  margin-bottom: 20px;
}

/* line 42, ../base-sass/hcpro.layout.scss */
.l-main {
  padding: 20px;
  margin: 20px auto;
}
/* line 13, ../../../../../../../../../../../../../lib/gems/2.3.0/gems/toolkit-2.10.2/stylesheets/toolkit/_clearfix.scss */
.l-main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 48, ../base-sass/hcpro.layout.scss */
.l-main .l-content {
  padding: 0 0 20px;
  clear: both;
}
/* line 52, ../base-sass/hcpro.layout.scss */
.front .l-main .l-content {
  padding: 0;
}
@media (min-width: 768px) {
  /* line 56, ../base-sass/hcpro.layout.scss */
  .has-one-sidebar.has-sidebar-first .l-main .l-content {
    width: 37.5%;
    float: left;
    margin-right: -100%;
    margin-left: 12.5%;
    clear: none;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  /* line 62, ../base-sass/hcpro.layout.scss */
  .has-one-sidebar.has-sidebar-second .l-main .l-content {
    width: 35.41667%;
    float: left;
    margin-right: -100%;
    clear: none;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  /* line 68, ../base-sass/hcpro.layout.scss */
  .has-two-sidebars .l-main .l-content {
    width: 37.5%;
    float: left;
    margin-right: -100%;
    margin-left: 12.5%;
    clear: none;
    padding-right: 20px;
  }
}
@media (min-width: 1024px) {
  /* line 68, ../base-sass/hcpro.layout.scss */
  .has-two-sidebars .l-main .l-content {
    width: 22.91667%;
    float: left;
    margin-right: -100%;
    margin-left: 12.5%;
    clear: none;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  /* line 79, ../base-sass/hcpro.layout.scss */
  .l-main .l-region--sidebar-first {
    width: 12.5%;
    float: left;
    margin-right: -100%;
    clear: none;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  /* line 86, ../base-sass/hcpro.layout.scss */
  .has-one-sidebar .l-main .l-region--sidebar-second {
    width: 14.58333%;
    float: left;
    margin-right: -100%;
    margin-left: 35.41667%;
    clear: none;
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  /* line 92, ../base-sass/hcpro.layout.scss */
  .has-two-sidebars .l-main .l-region--sidebar-second {
    width: 12.5%;
    float: left;
    margin-right: -100%;
    clear: none;
    padding-right: 20px;
    clear: left;
  }
}
@media (min-width: 1024px) {
  /* line 92, ../base-sass/hcpro.layout.scss */
  .has-two-sidebars .l-main .l-region--sidebar-second {
    width: 14.58333%;
    float: left;
    margin-right: -100%;
    margin-left: 35.41667%;
    clear: none;
    padding-right: 20px;
  }
}
/* line 104, ../base-sass/hcpro.layout.scss */
.l-main .tabs--primary,
.l-main .messages {
  clear: both;
}

/* line 110, ../base-sass/hcpro.layout.scss */
.l-content-bottom {
  clear: both;
}
